.DS_Store
/node_modules
/SpecRunner.html
/src/main/platform/nodejs/node_modules
/src/main/platform/nodejs/database/tables
/src/main/platform/nodejs/database/keys
/clients/nodejs/node_modules
/clients/nodejs/database
/clients/nodejs/full-consensus
/clients/nodejs/light-consensus
/clients/nodejs/wallet
/clients/nodejs/localhost.*
/dist/nimiq*
/dist/worker.js*
/dist/web*
/dist/node*
/dist/doc/
.idea
*.iml
/database
/build
/.istanbul/
settings.json