.DS_Store
/node_modules
/SpecRunner.html
/src/main/platform/nodejs/node_modules
/src/main/platform/nodejs/database/tables
/src/main/platform/nodejs/database/keys
/clients/nodejs/node_modules
/clients/nodejs/database
/clients/nodejs/localhost.*
/dist/nimiq*
/dist/web*
/dist/node*
.idea
*.iml
/database
