.DS_Store
/node_modules
/SpecRunner.html
/clients/nodejs/*-full-consensus
/clients/nodejs/*-light-consensus
/clients/nodejs/peer-key
/clients/nodejs/wallet
/clients/nodejs/localhost.*
/dist/nimiq*
/dist/worker.js*
/dist/web*
/dist/node*
/dist/doc/
.idea
*.iml
/database
/build
/.istanbul/
settings.json
/coverage
packaging/BUILD/VERSION
packaging/BUILD/fakeroot/
packaging/BUILD/index.js
packaging/BUILD/build/
packaging/BUILD/lib/
packaging/BUILD/modules/
packaging/BUILD/nimiq
packaging/BUILD/node
packaging/BUILD/node_modules/
packaging/BUILD/package.json
