body {
    background: #efefef;
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: auto;
    max-width: 1200px;
}

@font-face {
    font-family: 'font-icons';
    src:  url('fonts/icon-font.eot');
    src:  url('fonts/icon-font.eot#iefix') format('embedded-opentype'),
    url('fonts/icon-font.ttf') format('truetype'),
    url('fonts/icon-font.woff') format('woff'),
    url('fonts/icon-font.eot#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'font-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1 !important;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-nimiq::before {
    content: "\e900";
}

header {
    width: 250px;
    max-width: 100%;
    margin: auto;
    margin-bottom: 25px;
    text-align: center;
}

header .name {
	line-height: 85px;
	font-size: 70px;
	font-weight: lighter;
	font-family: sans-serif;
}

header .icon-nimiq::before {
    color: #FFC107;
    margin-right: 10px;
    font-size: 54px;
}
header .subtitle {
    font-size: 15px;
    letter-spacing: 2px;
}

/* Main UI */

.left, .right {
    float: left;
    width: 50%;
}
@media screen and (max-width: 760px) {
    .left, .right {
        width: 100%;
    }
}

.info {
    margin: 0 10px 15px 10px;
    background: #fff;
    border-radius: 3px;
    font-size: 15px;
}

.info-block {
    padding: 6px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-block:empty {
    padding: 0;
}
.info-block strong {
    display: inline-block;
}

.info-title {
    font-size: 16px;
    padding: 6px 8px;
    background: #5C6BC0;
    color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.info-block .icon-nimiq::before {
    font-size: 12px;
    margin-right: 2px;
}

.input-group {
    padding: 6px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.input-group label {
    width: 75px;
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
}

input {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px 5px;
    line-height: 18px;
}
button {
    border: 0;
    border: 1px solid #FFC107;
    border-radius: 3px;
    padding: 5px 10px;
    display: block;
    text-align: center;
    background: #FFC107;
    color: white;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;
}
button:hover {
    background: white;
    color: #FFC107;
}
button:disabled {
    background: #FFC107;
    color: white;
    opacity: 0.4;
    cursor: auto;
}
input.error {
    border: 1px solid #f44336;
}

hash {
    font-size: 12px;
}

/* The order of these consensus classes is important to enable overwriting */
.not-connected {
    background: crimson;
}
.not-connected::after {
    content: "Not connected";
    position: absolute;
    top: 7px;
    right: 20px;
    font-style: italic;
    font-size: 14px;
    opacity: 0.6;
}
.initializing {
    background: orange;
}
.initializing::after {
    content: "Initializing...";
    position: absolute;
    top: 7px;
    right: 20px;
    font-style: italic;
    font-size: 14px;
    opacity: 0.6;
}
.syncing {
    background: orange;
}
.syncing::after {
    content: "Syncronizing...";
    position: absolute;
    top: 7px;
    right: 20px;
    font-style: italic;
    font-size: 14px;
    opacity: 0.6;
}
.consensus-established {
    background: forestgreen;
}
.consensus-established::after {
    content: "Consensus established";
    position: absolute;
    top: 7px;
    right: 20px;
    font-style: italic;
    font-size: 14px;
    opacity: 0.6;
}
#blockchain-title {
    transition: background ease 0.5s;
}

#blockHistory {
    display: flex;
    flex-direction: column-reverse;
}

#blockHistory > div {
    margin: 5px 0;
}

#content {
    position: relative;
}

#overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(239, 239, 239, 0.95);
}

#overlay .message {
    font-size: 18pt;
    text-align: center;
    margin-top: 15%;
    padding: 15px;
}
