[Unit]
Description=Nimiq node.js client
Requires=network.target

[Service]
Type=simple
WorkingDirectory=/var/lib/nimiq
ExecStart=/usr/bin/nimiq --config=/etc/nimiq/nimiq.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
User=nimiq
PermissionsStartOnly=true

[Install]
WantedBy=multi-user.target
