[Unit]
Description={{ node_deb_package_description }}
Requires=network.target

[Service]
Type=simple
WorkingDirectory=/var/lib/{{ node_deb_package_name }}
ExecStart=/usr/bin/{{ node_deb_package_name }} --config=/etc/nimiq/nimiq.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
User={{ node_deb_user }}
PermissionsStartOnly=true

[Install]
WantedBy=multi-user.target
